<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Messaging App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var flashMessages = document.querySelectorAll('.flash-messages');
            flashMessages.forEach(function(message) {
                var fadeDuration = 1000; // milliseconds
                var displayDuration = 10000; // milliseconds

                setTimeout(function() {
                    message.style.transition = `opacity ${fadeDuration}ms`;
                    message.style.opacity = 0;
                    setTimeout(function() {
                        message.style.display = 'none';
                    }, fadeDuration); // Hide the message after fade out
                }, displayDuration); // Show flash messages for 10 seconds
            });
        });
    </script>
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
