<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
</head>
<body>
    <h1>Room</h1>
    <p>Room ID: {{ room_id }}</p>
    
    <!-- Display Join Room button -->
    <form action="{{ url_for('join_room', room_id=room_id) }}" method="POST">
        <button type="submit" class="button">Join Room</button>
    </form>
    
    <button class="button" onclick="goBack()">Back</button>
</body>
</html>
